.skills__list{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 5rem;
   gap: 2rem;
}

@media screen and (max-width: 1080px) {

   

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 368px) {

}
