@import url('./hero-description.css');
@import url('./hero-description-title.css');
@import url('./hero-description-description.css');
@import url('./hero-description-socials-list.css');
@import url('./hero-description-social-item.css');
@import url('./hero-description-social-link.css');
@import url('./hero-image.css');

.hero{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   margin-top: 5.5rem;
}
@media screen and (max-width: 1080px) {
   .hero {
      align-items: start;
      justify-content: left;
   }
}

@media screen and (max-width: 768px) {
   
}
@media screen and (max-width: 368px) {
   .hero {
      flex-direction: column-reverse;
   }
}