.contact__image {
   background: url('../../images/telefone.png') center/cover no-repeat;
   width: 29rem;
   height: 37.063rem;
   margin-right: 1rem;
   align-self: center;
}


@media screen and (max-width: 1080px) {}

@media screen and (max-width: 768px) {
   .contact__image {
      display: none;
   }
}

@media screen and (max-width: 368px) {}