.hero__description{
   width: 75%;
   margin-right: 1rem;
}

@media screen and (max-width: 1080px) {
   .hero__description {
      width: 90%;
   }
}

@media screen and (max-width: 768px) {
   .hero__description {
      width: 100%;
   }
}