.contact__image{
   background-image: url('../../assets/images/telefone.png');
   width: 29rem;
   height: 37.063rem;
   margin-right: 1rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-self: center;
}


@media screen and (max-width: 1080px) {}

@media screen and (max-width: 768px) {
   .contact__image{
      display: none;
   }
}

@media screen and (max-width: 368px) {}