.contact__label{
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: 0.25rem;
   border-bottom: 1px solid var(--gray-300);
   color: var(--gray-300);
   font-size: 1rem;
   padding-top: 0.5rem;
}

.contact__label:focus-within {
   border-bottom: 3px solid var(--blue-500);
   color: var(--blue-500);
   font-size: 0.75rem;
}
/* Se ouver valor e sem foco */
.isValue__label {
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: 0.25rem;
   border-bottom: 1px solid var(--gray-300);
   color: var(--gray-300);
   font-size: 1rem;
   padding-top: 0.5rem;
}

.isValue__label:not(:focus) {
   border-bottom: 3px solid var(--gray-300);
   color: var(--gray-300);
   font-size: 0.75rem;
}