.container{
   padding: 2rem 9rem;
}
.container__full__blue{
   width: 100%;
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding: 5.125rem 0;
   background-color: var(--blue-100);
}
.content{
   position: relative;
   margin-top: 2rem;
}
.btn{
   padding: 1rem;
   transition: all .2s ease-in-out;
}
.btn--light{
   color: var(--blue-500);
   background-color: var(--white);
   border: 1px solid var(--blue-500);
}
.btn--light:hover{
   background-color: var(--blue-100);
}
.btn--blue{
   color: var(--white);
   border: 1px solid var(--blue-500);
   background-color: var(--blue-500);
}
.btn--blue:hover{
   background-color: var(--blue-300);
}

@media screen and (max-width: 1080px) {
   .container{
      padding: 2rem;
   }
}

@media screen and (max-width: 368px) {
   .container{
      padding: 1rem;
   }
}