.container{
   padding: 2rem 9rem;
}
@media screen and (max-width: 1080px) {
   .container {
      padding: 2rem;
   }

}

@media screen and (max-width: 768px) {
   .container {
      padding: 1rem;
   }
}